/* 초기화 */

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 14pt;
}

a {
  text-decoration: none;
}

/* 헤더 */

#header {
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 999;
  position: relative;
}

#header > #menu > ul,
#header > #menu > ul > li > #nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header > #menu > ul > li {
  float: left;
  vertical-align: middle;
  text-align: center;
}

#logo {
  margin-top: 12px;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 48px;
}

#menu {
  width: 900px;
  margin: 0 auto;
}

.menu_li {
  padding-bottom: 24px;
  padding-top: 24px;
}

.menu_li > a,
#nav > li > a {
  display: block;
  color: #808080;
  transition: color 0.2s;
}

#nav > li > a {
  padding-right: 13px;
  padding-left: 13px;
}

#nav > li:first-child > a {
  padding-left: 1050px;
}

.menu_li > a {
  padding-right: 47px;
  padding-left: 47px;
}

.menu_li > a:hover {
  color: black;
}

#nav > li > a:hover {
  color: #c10230;
}

#nav {
  position: absolute;
  width: 99.9%;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0px;
  top: 74px;
}

#nav > li {
  display: inline-block;
  padding-top: 12px;
}

.menu_li:hover > #nav {
  margin-top: 1px;
  height: 48px;
}

#b_login {
  margin-top: 18px;
  margin-right: 44px;
  background-color: #375065;
  color: white;
  width: 98px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  float: right;
}

hr {
  width: 99.9%;
  color: #cbcbcb;
}

/* 공지사항 페이지 */
#noticeArticle {
  width: 1460px;
  height: 830px;
  margin: 0 auto;
  margin-top: 45px;
}

#noticeMainBox {
  border: 1px solid #cbcbcb;
  width: 710px;
  height: 705px;
  float: left;
}

#noticeArticleBox {
  width: 710px;
  height: 705px;
  float: right;
}

/* 기본 설정 */
#pageTitle_b {
  font-size: 46px;
  margin-bottom: 45px;
}

.articleBox {
  border: 1px solid #cbcbcb;
  width: 335px;
  height: 335px;
  display: inline-block;
  margin: 0;
}

.articleBox:nth-child(2),
.articleBox:nth-child(4) {
  float: right;
  background-color: #f0efee;
}

.articleBox:nth-child(3),
.articleBox:nth-child(4) {
  margin-top: 28px;
}

/* 지도 */

#map {
  width: 99.9%;
  height: 500px;
}
