/* 초기화 */

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Noto Sans CJK";
  font-weight: bold;
  font-size: 14pt;
}

a {
  text-decoration: none;
}

/* 헤더 */

#header {
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 999;
  position: relative;
}

#header > #menu > ul,
#header > #menu > ul > li > #nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header > #menu > ul > li {
  float: left;
  vertical-align: middle;
  text-align: center;
}

#logo {
  margin-top: 12px;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 48px;
}

#menu {
  width: 900px;
  margin: 0 auto;
}

.menu_li {
  padding-bottom: 24px;
  padding-top: 24px;
}

.menu_li > a,
#nav > li > a {
  display: block;
  color: #808080;
  transition: color 0.2s;
}

#nav > li > a {
  padding-right: 13px;
  padding-left: 13px;
}

#nav > li:first-child > a {
  padding-left: 1050px;
}

.menu_li > a {
  padding-right: 47px;
  padding-left: 47px;
}

.menu_li > a:hover {
  color: black;
}

#nav > li > a:hover {
  color: #c10230;
}

#nav {
  position: absolute;
  width: 99.9%;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0px;
  top: 74px;
}

#nav > li {
  display: inline-block;
  padding-top: 12px;
}

.menu_li:hover > #nav {
  margin-top: 1px;
  height: 48px;
}

#b_login {
  margin-top: 18px;
  margin-right: 44px;
  background-color: #375065;
  color: white;
  width: 98px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  float: right;
}

hr {
  width: 99.9%;
  color: #cbcbcb;
}

/*홈*/

#home_main {
  float: left;
  width: 962px;
  height: 894px;
  overflow: hidden;
}

#homeMainImg {
  width: 962px;
}

#cardnews {
  float: left;
  height: 420px;
  width: 430px;
  overflow: hidden;
  margin-top: 27px;
  margin-left: 30px;
}

#homeCardnews {
  height: 430px;
}

#map_main {
  width: 890px;
  height: 400px;
  float: right;
  margin-right: 39px;
  margin-top: 25px;
}

#homeNotice {
  float: left;
  width: 355px;
  height: 353px;
  margin-top: 27px;
  margin-left: 35px;
  border: 1px solid #cbcbcb;
  padding: 36px 40px 28px 26px;
}

#homeNTilte {
  margin-bottom: 18px;
  font-size: 21px;
}

#homeNarticle {
  margin-bottom: 229px;
  font-size: 21px;
  font-weight: lighter;
}

#homeNotice > a {
  color: #424242;
  font-weight: normal;
}

#homeDate {
  color: #424242;
  font-weight: normal;
  float: right;
}

/* 공지사항 페이지 */

#modal_popup {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(111, 98, 89, 0.8);
}

#modal_c {
  background-color: #ffffff;
  margin: 8% auto;
  border: 1px solid #cbcbcb;
  width: 625px;
  height: 595px;
  padding: 61px 41px 47px 40px;
}

#noticeArticle {
  width: 1460px;
  height: 830px;
  margin: 0 auto;
}

#noticeMainBox {
  border: 1px solid #cbcbcb;
  width: 625px;
  height: 595px;
  float: left;
  padding: 61px 41px 47px 40px;
}

#noticeArticleBox {
  width: 710px;
  height: 705px;
  float: right;
}

#noticeArticle > h1 {
  font-size: 46px;
  margin-bottom: 45px;
  padding-top: 45px;
}

#articleBox1,
#articleBox2,
#articleBox3,
#articleBox4 {
  border: 1px solid #cbcbcb;
  width: 282px;
  height: 283px;
  display: inline-block;
  margin: 0;
  padding: 28px 31px 22px 20px;
}

#articleBox2,
#articleBox4 {
  float: right;
  background-color: #f0efee;
}

#articleBox3,
#articleBox4 {
  margin-top: 28px;
}

.NMBTitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.NMBSubtitle {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.NMBAriticle {
  margin-top: 71px;
  margin-bottom: 100px;
}

.NMBAriticle > p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 18px;
}

.NMBDate {
  font-size: 16pt;
  font-weight: lighter;
}

.NSTitle {
  margin-bottom: 14px;
  font-size: 17px;
}

.NSsubtitle {
  margin-bottom: 181px;
  font-size: 17px;
  font-weight: lighter;
}

.NSvm {
  color: #424242;
  font-weight: normal;
  font-size: 14px;
  float: left;
}

.NSdate {
  color: #424242;
  font-weight: normal;
  float: right;
  font-size: 14px;
}

/* 지도 및 박스 */

#map {
  width: 99.9%;
  height: 893px;
}

.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 364px;
  height: 546px;
  margin-left: -182px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 364px;
  height: 534px;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 2px #888;
}

.title {
  margin-bottom: -20px;
}

.title > h1 {
  font-size: 24px;
  margin-top: 18px;
  margin-left: 18px;
}

.info .title {
  height: 62px;
}

.title .close {
  position: absolute;
  top: 27.8px;
  right: 18.8px;
  color: #888;
  width: 90px;
  height: 20px;
  background: url("images/finfoboxmenu.png");
}
.title .close:hover {
  cursor: pointer;
}

.info .body {
  position: relative;
  overflow: hidden;
  height: 470px;
}

.info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

/* 지도 좌상단 메뉴 */

#mapwrap {
  position: relative;
  overflow: hidden;
}
.category,
.category * {
  margin: 0;
  padding: 0;
  color: #000;
}
.category {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  width: 212px;
  height: 80px;
  z-index: 10;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px #888;
}

.category > ul > li {
  font-size: 8px;
}

.category .menu_selected {
  background: #ff0046;
  color: #fff;
  border-left: 1px solid #915b2f;
  border-right: 1px solid #915b2f;
  margin: 0 -1px;
}

.category li {
  list-style: none;
  float: left;
  width: 53px;
  height: 80px;
  padding-top: 5px;
  cursor: pointer;
}

.category .ico_comm {
  display: block;
  margin: 0 auto 2px;
  width: 22px;
  height: 26px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png")
    no-repeat;
}

.category .ico_coffee {
  background-position: -10px 0;
}

.category .ico_store {
  background-position: -10px -36px;
}

.category .ico_carpark {
  background-position: -10px -72px;
}

#all_on,
#all_off {
  margin: 0 auto;
  padding: 0 auto;
}

.on {
  display: block;
}

.off {
  display: none;
}

/* 지도 정보 관련 */

.imginfo00 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage00.png);
  margin-bottom: 20px;
}

.datainfo00 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo00.png);
}

.imginfo01 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage01.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo01 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo01.png);
}

.imginfo02 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage02.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo02 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo02.png);
}

.imginfo03 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage03.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo03 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo03.png);
}

.imginfo04 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage04.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo04 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo04.png);
}

.imginfo05 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage05.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo05 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo05.png);
}

.imginfo06 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/fimage06.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo06 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/finfo06.png);
}

.imginfo07 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage00.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo07 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo00.png);
}

.imginfo08 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage01.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo08 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo01.png);
}

.imginfo09 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage02.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo09 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo02.png);
}

.imginfo10 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage03.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo10 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo03.png);
}
.imginfo11 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage04.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo11 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo04.png);
}

.imginfo12 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/cimage05.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo12 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/cinfo05.png);
}

.imginfo13 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/etcimage00.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo13 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/etcinfo00.png);
}

.imginfo14 {
  position: absolute;
  width: 365px;
  height: 115px;
  overflow: hidden;
  background-image: url(images/etcimage01.jpg);
  background-size: 100%;
  margin-bottom: 20px;
}

.datainfo14 {
  position: absolute;
  overflow: hidden;
  margin-top: 135px;
  width: 364px;
  height: 322px;
  background-image: url(images/etcinfo01.png);
}

/* 인포메이션 페이지 */

#infoHeader {
  background-image: url(images/info_mainbg.png);
  height: 150px;
  width: 99.99%;
  margin-top: 0px;
}

#infoHeader > h1 {
  font-size: 46px;
  color: #ffffff;
  padding-top: 82px;
  margin-left: 277px;
}

#infoBox {
  margin: 0 auto;
  width: 1369px;
  height: 675px;
  overflow: hidden;
  margin-top: 35px;
}

#infoboxTop {
  height: 325px;
}

#infoboxTop > a {
  color: #000000;
}

#infoboxBottom {
  height: 325px;
  margin-top: 20px;
}

#infoMainBox {
  width: 673px;
  height: 325px;
  border: 1px solid #cbcbcb;
  float: left;
  margin-right: 20px;
  overflow: hidden;
}

#infoSubBox1,
#infoSubBox2,
#infoSubBox3,
#infoSubBox4,
#infoSubBox5,
#infoSubBox6 {
  width: 325px;
  height: 325px;
  border: 1px solid #cbcbcb;
  float: left;
  overflow: hidden;
}

#infoSubBox1,
#infoSubBox3,
#infoSubBox4,
#infoSubBox5 {
  margin-right: 20px;
}

#infoSubBox1 {
  background-image: url(images/info_image_6.png);
}

#infoSubBox2 {
  background-image: url(images/info_image_7.png);
}

#infoSubBox3 {
  background-image: url(images/info_image_2.png);
}

#infoSubBox4 {
  background-image: url(images/info_image_3.png);
}

#infoSubBox5 {
  background-image: url(images/info_image_4.png);
}

#infoSubBox6 {
  background-image: url(images/info_image_5.png);
}

#infoMainBox > h1 {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
}

#infoMainBox > h3 {
  font-size: 16px;
  margin-top: 100px;
  margin-left: 15px;
  float: left;
  font-weight: normal;
}

#imbPhoto > img {
  float: right;
  height: 325px;
}

/* 인포메이션 디테일페이지 */

#infoDetailHeader {
  background-image: url(images/info_h02.png);
  height: 350px;
  width: 99.99%;
  margin-top: 0px;
}

#infoDetailHeader2 {
  background-image: url(images/info_h01.png);
  height: 350px;
  width: 99.99%;
  margin-top: 0px;
}

#infoDetailHeader3 {
  background-image: url(images/info_h03.png);
  height: 350px;
  width: 99.99%;
  margin-top: 0px;
}

#infoDetailHeader4 {
  background-image: url(images/info_h04.png);
  height: 350px;
  width: 99.99%;
  margin-top: 0px;
}

#infoDetailHeader > h1,
#infoDetailHeader2 > h1,
#infoDetailHeader3 > h1,
#infoDetailHeader4 > h1 {
  font-size: 65px;
  color: #ffffff;
  padding-top: 70px;
  margin-left: 410px;
}

#infoDetailHeader > img,
#infoDetailHeader2 > img,
#infoDetailHeader3 > img,
#infoDetailHeader4 > img {
  margin-top: 30px;
  margin-left: 410px;
}

#infoDetailArticle {
  width: 1090px;
  margin: 0 auto;
  margin-top: 100px;
}

#infoDetailArticle > h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

#infoDetailArticle > p {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: normal;
}

#infoDetailArticle > img {
  margin-top: 70px;
  margin-bottom: 100px;
}

#infoDetailArticle > hr {
  margin-top: 50px;
}

#infoDetailBoxBottom {
  width: 1465px;
  height: 325px;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 100px;
}

/* 세이브드관련 */

#savedbg {
  background-color: #fbfaf8;
  margin-top: 0px;
}

#sInfoHeader {
  height: 150px;
  width: 99.99%;
  margin-top: 0px;
}

#sInfoHeader > h1 {
  font-size: 46px;
  color: black;
  padding-top: 82px;
  margin-left: 277px;
}

#sInfoBox1,
.sInfoSubBox {
  width: 325px;
  height: 325px;
  border: 1px solid #cbcbcb;
  float: left;
  overflow: hidden;
  margin-right: 20px;
}

.sInfoSubBox:nth-child(4) {
  margin-right: 0;
}

#sInfoBox1 {
  background-image: url(images/savedinfo.png);
}

#sNoticeMainBox {
  border: 1px solid #cbcbcb;
  background-color: #f6e1e4;
  width: 625px;
  height: 595px;
  float: left;
  padding: 61px 41px 47px 40px;
}

/* 세이브드 메인페이지 */

#savedarticle {
  width: 1460px;
  margin: 0 auto;
}

#savedarticle > h1 {
  font-size: 46px;
  padding-top: 140px;
  margin-bottom: 100px;
  display: inline-block;
}

#savedarticle > img {
  float: right;
  padding-top: 180px;
}

#sArticle {
  width: 1460px;
  margin: 0 auto;
}

#sArticleBox1,
#sArticleBox2,
#sArticleBox3 {
  width: 450px;
  height: 500px;
  float: left;
}

#sArticleBox1,
#sArticleBox2 {
  margin-right: 50px;
}

#sArticleBox1 > a,
#sArticleBox2 > a,
#sArticleBox3 > a {
  color: black;
}

#sArticleBox1 > a > h2,
#sArticleBox2 > a > h2,
#sArticleBox3 > a > h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

#sArticleBox1 > a > ul > li {
  margin-left: 45px;
  font-weight: normal;
  font-size: 20px;
  margin-top: 48px;
  color: #c10230;
}

#sArticleBox1 > a > ul > li:first-child > img {
  margin-left: 15px;
}

#sArticleBox2 > a > div,
#sArticleBox3 > a > div {
  width: 222px;
  height: 222px;
  margin: 0;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

#sArticleBox2 > a > div > img,
#sArticleBox3 > a > div > img {
  height: 222px;
  margin: 0 auto;
}
