/* 초기화 */

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 14pt;
}

a {
  text-decoration: none;
}

/* 헤더 */

#header {
  width: 100%;
  height: 70px;
  background-color: white;
  z-index: 999;
  position: relative;
}

#header > #menu > ul,
#header > #menu > ul > li > #nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#header > #menu > ul > li {
  float: left;
  vertical-align: middle;
  text-align: center;
}

#logo {
  margin-top: 12px;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 48px;
}

#menu {
  width: 900px;
  margin: 0 auto;
}

.menu_li {
  padding-bottom: 24px;
  padding-top: 24px;
}

.menu_li > a,
#nav > li > a {
  display: block;
  color: #808080;
  transition: color 0.2s;
}

#nav > li > a {
  padding-right: 13px;
  padding-left: 13px;
}

#nav > li:first-child > a {
  padding-left: 1050px;
}

.menu_li > a {
  padding-right: 47px;
  padding-left: 47px;
}

.menu_li > a:hover {
  color: black;
}

#nav > li > a:hover {
  color: #c10230;
}

#nav {
  position: absolute;
  width: 99.9%;
  height: 0px;
  overflow: hidden;
  transition: height 0.2s;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0px;
  top: 74px;
}

#nav > li {
  display: inline-block;
  padding-top: 12px;
}

.menu_li:hover > #nav {
  margin-top: 1px;
  height: 48px;
}

#b_login {
  margin-top: 18px;
  margin-right: 44px;
  background-color: #375065;
  color: white;
  width: 98px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  float: right;
}

hr {
  width: 99.9%;
  color: #cbcbcb;
}

/*홈*/

#home_main {
  float: left;
  width: 962px;
  height: 894px;
  overflow: hidden;
}

#homeMainImg {
  width: 962px;
}

#cardnews {
  float: left;
  height: 420px;
  width: 430px;
  overflow: hidden;
  margin-top: 27px;
  margin-left: 30px;
}

#homeCardnews {
  height: 430px;
}

#map_main {
  width: 890px;
  height: 400px;
  float: right;
  margin-right: 39px;
  margin-top: 25px;
}

#homeNotice {
  float: left;
  width: 355px;
  height: 353px;
  margin-top: 27px;
  margin-left: 35px;
  border: 1px solid #cbcbcb;
  padding: 36px 40px 28px 26px;
}

#homeNTilte {
  margin-bottom: 18px;
  font-size: 21px;
}

#homeNarticle {
  margin-bottom: 229px;
  font-size: 21px;
  font-weight: lighter;
}

#homeNotice > a {
  color: #424242;
  font-weight: normal;
}

#homeDate {
  color: #424242;
  font-weight: normal;
  float: right;
}

/* 공지사항 페이지 */

#modal_popup {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(111, 98, 89, 0.8);
}

#modal_c {
  background-color: #ffffff;
  margin: 8% auto;
  border: 1px solid #cbcbcb;
  width: 710px;
  height: 705px;
}

#noticeArticle {
  width: 1460px;
  height: 830px;
  margin: 0 auto;
  margin-top: 45px;
}

#noticeMainBox {
  border: 1px solid #cbcbcb;
  width: 710px;
  height: 705px;
  float: left;
}

#noticeArticleBox {
  width: 710px;
  height: 705px;
  float: right;
}

#nPageTitle {
  font-size: 46px;
  margin-bottom: 45px;
}

#articleBox1,
#articleBox2,
#articleBox3,
#articleBox4 {
  border: 1px solid #cbcbcb;
  width: 335px;
  height: 335px;
  display: inline-block;
  margin: 0;
}

#articleBox2,
#articleBox4 {
  float: right;
  background-color: #f0efee;
}

#articleBox3,
#articleBox4 {
  margin-top: 28px;
}

/* 지도 */

#map {
  width: 99.9%;
  height: 500px;
}
